.card {
  border: 1px solid #e8e8e8;
  /* background-color: #f5f5f5; */
  border-radius: 2px;
}
.card-img {
  padding-top: 5px;
  width: 50%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-img-background {
  background-color: #eaeaea;
}
.card-content {
  text-align: left;
  margin-bottom: 5px;
}
.card-buttons {
  padding: 10px 0px;
}
.card-content-text {
  display: inline;
}
.card-contents {
  padding: 24px;
}
.card-content-text {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.65);
}
.card-content-name {
  margin-bottom: 5px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.card-buttons {
  display: flex;
  background-color: #fffcfc;
  border-top: 1px solid #eaeaea;
}
.card-button-middlebutton {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.card-button-div {
  flex: 1;
  justify-content: center;
}
.icon-delete:hover {
  color: rgb(95, 95, 255);
}
.icon-edit:hover {
  color: rgb(95, 95, 255);
}
