.modal-backdrop {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  border-radius: 2px;
}
.modal-header {
  flex: 1/4;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* justify-content: flex-end; */
  padding: 10px 5px;
  border-bottom: 2px solid #eaeaea;
}
.modal-title {
  padding-left: 10px;
  text-align: left;
  flex: 1;
}
label::before {
  content: "*";
  color: red;
}
.modal-close-div {
  padding-right: 10px;
  flex: 1/4;
  color:#8b8b8b
}
.modal-close-div:hover {
  color:#000000
}
.modal-body {
  flex: 1;
  padding: 20px;
}
.modal-input-group {
  margin: 20px 30px;
  text-align: right;
}
input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1.5px solid #eaeaea;
}
input:focus {
  /* outline: none !important; */
  border-color: rgb(99, 99, 255, 0.5);
  outline: 1.5px solid rgb(99, 99, 255, 0.5);
}
.modal-footer {
  flex: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 2px solid #eaeaea;
  padding: 10px 5px;
}
.modal-button-cancel {
  background-color: white;
  color: #5e5e5e;
  border: 0.5px solid #b5b5b5;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}
.modal-button-cancel:hover {
  color: rgb(99, 99, 255);
  border: 0.5px solid rgb(99, 99, 255);
}
.modal-button-ok {
  background-color: rgb(99, 99, 255);
  color: #ffffff;
  border: 0.5px solid #b5b5b5;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 20px;
  transition: 0.3s;
}
.modal-button-ok:hover {
  opacity: 0.5;
}
